.cast-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-family: 'Times New Roman', Times, serif;
}
.cast-item {
  border-radius: 20px;
  border: 1px solid black;
  padding: 15px;
}
