.details {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
}
.details__info {
  padding: 20px;
}
.details__img {
  width: 400px;
  height: 600px;
  border-radius: 20px;
}
.details__title {
  font-size: 30px;
}
.details__subtitle {
  font-size: 25px;
}
