.main {
  display: flex;
  flex-direction: column;
  background: linear-gradient(to right, gray, white);
  width: 100%;
}
.main__title {
  padding: 20px;
  font-size: 40px;
}
.main__list {
  font-size: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
