.main {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.7);
  font-family: 'Times New Roman', Times, serif;

  width: 100%;
}
.main__title {
  padding: 20px;
  font-size: 40px;
}
.main__list {
  font-size: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  list-style: none;
}
.main__item a {
  text-decoration: none;
  color: black;
}
