.header {
  display: flex;
  flex-direction: row;
  font-family: 'Times New Roman', Times, serif;
  font-size: 32px;
  background-image: url(/public/background-page.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-bottom: 1px solid black;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
.header__list {
  display: flex;
  flex-direction: row;
  gap: 15px;
  list-style: none;
  width: 100%;
  padding: 20px;
}
.header__item a:hover,
.header__item:focus {
  color: red;
  cursor: pointer;
}
.header__item a {
  text-decoration: none;
  color: white;
  font-size: 40px;
}
