.header {
  display: flex;
  flex-direction: row;
  font-family: 'Times New Roman', Times, serif;
  font-size: 32px;
  background: linear-gradient(to right, #0a0a0a, #3a3a3a);
  border-bottom: 1px solid black;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  color: azure;
}
.header__list {
  display: flex;
  flex-direction: row;
  gap: 15px;
  list-style: none;
  width: 100%;
  padding: 20px;
}
.header__item:hover,
.header__item:focus {
  color: red;
  cursor: pointer;
}
